.globeWrapper {
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 800px;
}

.globeCanvas {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  contain: layout paint size;
}

.globeCanvas.visible {
  opacity: 1;
}
